/* CSS declarations go here */
body {
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: 'Kavivanar', cursive;
}

footer {
    background: #333;
    background-color: #374353;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

a {
    color: #25bea0;
    font-weight: bold;
}

.font-l {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.offwhite {
   background-color: whitesmoke;
}

.review-form {
    margin-top: 35px;
}

.photo-row {
    border-bottom:#ccc 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}

.profile-photo {
    height: 100%;
    width: 100%;
}

.red-font {
    color: red; 
}

.stars {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 120px;
}

#login-buttons {
    margin: 18px;
    font-size: 14px;
}

.marg-t {
    margin-top: 15px;
}

.marg-tt {
    margin-top: 30px;
}

.marg-l {
    margin-left: 20px;
}

.marg-r {
    margin-right: 15px;
}

.marg-b {
    margin-bottom: 50px;
}

.marg-t-0 {
    margin-top: 0px;
}

.btn-reviews:hover {
    background-color: #FF5722;
}

.btn-review {
    background-color: #65EEB7;
    color: #F4F4F4;
}

.btn-photo {
    background-color: #FF5722;
    color: #F4F4F4;
}

.btn-review-cancel {
    background-color: #A4E5D9;
    color: #F4F4F4;
}

.btn-photo-cancel {
    background-color: #FFD05B;
    color: white;
}

.review-item {
    background-color: #65EEB7;
}

.a-to-text {
    color: black;
    text-decoration: none !important;
}


.img {
    width: 100%
}

.image-size > img {
    width: 100%;
    border-radius: 3%;
    margin-left: 15px;
}

.image-size-trophy > img {
    width: 80px;
    border-radius: 3%;
    margin-left: 15px;
}

.flex {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img-rounded {
    width: 35%;
}

/*tags input*/
.input-group-addon.tag {
    color: rgb(255, 255, 255);
    background-color: #25BEA0;
    border-color: white;
}

.tag-input {
    height: 28px;
}

.tags a {
    border: 1px dotted #DDD;
    display: inline-block;
    color: #717171;
    background: #65EEB7;
    -webkit-box-shadow: 0 1px 1px 0 rgba(180,180,180,0.1);
    box-shadow: 0 1px 1px 0 rgba(180,180,180,0.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 2px;
    margin: 0 3px 6px 0;
    padding: 5px 10px
}

        .tags a:hover {
            border-color: #08C;
        }

        .tags a.primary {
            color: #FFF;
            background-color: #428BCA;
            border-color: #357EBD
        }



/*add photo upload input -- START*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-1 + label {
    color: #ffffff;
    background-color: #32c5d2;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

    .inputfile + label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }

/*add photo upload input -- END*/